<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" 
		href="../static/styles/stylesheet.css">
		 
	</head>
	<body>
		{% block content %}
		{% endblock %}
		<div id="header-container">
			<div id="header">
				 <ul>
				 	<a href="index"><li>Home</li></a>
			 		<a href="boglight"><li>Bog Light</li></a>
			 		<a href="videos"><li>Videos</li></a>
			 		<a href="calendar"><li>Calendar</li></a>
			 		<a href="store"><li>Store</li></a>
			 		<a href="photos"><li>Photos</li></a>
				</ul> 
			</div>	
		</div>
		<div id="background">
		</div>
		
</html>